<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food</title>

    <link rel="stylesheet" href="/css/adminHeader.css">
    <link rel="stylesheet" href="/css/addFood.css">

</head>

<body>
    <%- include("adminHeader") %>

    <div class="page">
        <div class="form-card">

        <h1>🍽️ Add New Food</h1>

        <p>Add a new delicious item to the BiteHub menu.</p>

        <form action="/admin/add-food" method="POST">

            <div class="input-box">

                <label>Food Name</label>

                <input
                    type="text"
                    name="name"
                    placeholder="Enter food name"
                    required>

            </div>

            <div class="input-box">

                <label>Price</label>

                <input
                    type="number"
                    name="price"
                    placeholder="Enter price"
                    required>

            </div>

            <div class="input-box">

                <label>Category</label>

                <input
                    type="text"
                    name="category"
                    placeholder="Pizza, Burger, Drinks..."
                    required>

            </div>

            <div class="input-box">

                <label>Image Name</label>

                <input
                    type="text"
                    name="image"
                    placeholder="Example: i1.jpg"
                    required>

            </div>

            <div class="input-box">

                <label>Description</label>

                <textarea
                    name="description"
                    rows="4"
                    placeholder="Write food description..."
                    required></textarea>

            </div>

            <button type="submit">
                ➕ Add Food
            </button>

        </form>

    </div>
    </div>

</body>

</html>