<header class="header">

    <div class="logo">
        <h2>🍽 BiteHub Admin</h2>
    </div>

    <nav>
        <a href="/admin/dashboard">Dashboard</a>
        <a href="/admin/add-food"> ➕Add Food</a>
        <a href="#">Orders</a>
        <a href="/">Home</a>
    </nav>

</header>