.container{
    width:92%;
    margin:40px auto;
}
.top-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.top-bar h2{
    color:#333;
}

.add-btn{
    text-decoration:none;
    background:#28a745;
    color:white;
    padding:12px 20px;
    border-radius:8px;
    font-weight:bold;
    transition:.3s;
}

.add-btn:hover{
    background:#218838;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
    border-radius:12px;
    overflow:hidden;

    box-shadow:0 8px 25px rgba(0,0,0,.1);
}

thead{
    background:#ff6b35;
    color:white;
}

th{
    padding:18px;
}

td{
    padding:16px;
    text-align:center;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#fff7f3;
}

.food-img{
    width:70px;
    height:70px;
    object-fit:cover;
    border-radius:10px;
}

/* btn */
.edit-btn{
    background:#007bff;
    color:white;
    text-decoration:none;
    padding:8px 16px;
    border-radius:6px;
    transition:.3s;
}

.edit-btn:hover{
    background:#0056b3;
}

.delete-btn{
    background:#dc3545;
    color:white;
    text-decoration:none;
    padding:8px 16px;
    border-radius:6px;
    transition:.3s;
}

.delete-btn:hover{
    background:#b02a37;
}
@media(max-width:900px){

    .container{
        overflow-x:auto;
    }

}
