<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Menu</title>
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>
<style>

</style>
<body>

<header>
    <div class="logo">
        <h2>Foodie</h2>
    </div>

    <div class="search">
        <input type="text" placeholder="Search your favourite food">
    </div>

    <nav>
        <a href="#">Cart 🛒 <span id="cartCount">0</span></a>
        <a href="#">Home</a>
        <a href="#">Menu</a>
       <a href="#">
    Cart 🛒 <span id="cartCount">0</span>
</a>
        <a href="#">Login</a>
    </nav>
</header>

<section class="menu">

    <div class="card">
        <img src="image/p1.jpg" alt="Pizza">
        <h3>Pizza</h3>
        <p>₹199</p>
        <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="burger.jpg" alt="Burger">
        <h3>Burger</h3>
        <p>₹149</p>
       <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="momo.jpg" alt="momo">
        <h3>momo</h3>
        <p>₹179</p>
    <button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="pasta .jpg" alt="pasta">
        <h3>pasta</h3>
        <p>₹199</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="idli.jpg" alt="idli">
        <h3>idli</h3>
        <p>₹149</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="paneer.jpg" alt="paneer">
        <h3>paneer</h3>
        <p>₹179</p>
    <button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="pani puri .jpg" alt="pani puri">
        <h3>Pani puri</h3>
        <p>₹199</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="pav bhaji.jpg" alt="pav bhaji">
        <h3>pav bhaji</h3>
        <p>₹149</p>
  <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="french fries.jpg" alt="french fries">
        <h3>french fries</h3>
        <p>₹179</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="noodles.jpg" alt="noodles">
        <h3>noodles</h3>
        <p>₹199</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="dosa.jpg" alt="dosa">
        <h3>Dosa</h3>
        <p>₹149</p>
        <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="samosa.jpg" alt="samosa">
        <h3>samosa</h3>
        <p>₹179</p>
<button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="biryani .jpg" alt="biryani">
        <h3>biryani</h3>
        <p>₹199</p>
     <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="manchurian.jpg" alt="manchurian">
        <h3>manchurian</h3>
        <p>₹149</p>
<button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="paratha.jpg" alt="paratha">
        <h3>paratha</h3>
        <p>₹179</p>
<button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="tikka .jpg" alt="tikka">
        <h3>tikka</h3>
        <p>₹199</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="roll.jpg" alt="roll">
        <h3>roll</h3>
        <p>₹149</p>
<button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="chola.jpg" alt="chola">
        <h3>chola</h3>
        <p>₹179</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="dhokla.jpg" alt="dhokla">
        <h3>dhokla</h3>
        <p>₹199</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="upma.jpg" alt="upma">
        <h3>upma</h3>
        <p>₹199</p>
    <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="pakoda.jpg" alt="pakoda">
        <h3>pakoda</h3>
        <p>₹179</p>
       <button onclick="addItem(this)">Add to Cart</button>
    </div>

</section>
<section class="menu">

    <div class="card">
        <img src="popcorn.jpg" alt="popcorn">
        <h3>popcorn</h3>
        <p>₹199</p>
       <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="Tandoori.jpg" alt="Tandoori">
        <h3>Tandoori</h3>
        <p>₹149</p>
      <button onclick="addItem(this)">Add to Cart</button>
    </div>

    <div class="card">
        <img src="vada pav.jpg" alt="vada pav">
        <h3>vada pav</h3>
        <p>₹179</p>
        <button onclick="addItem(this)">Add to Cart</button>
    </div>
</section>
<h2>My Cart 🛒</h2>
<ul id="cartItems"></ul>
<h3>Total: ₹<span id="totalPrice">0</span></h3>
</body>
<script src="/menu.js"></script>
</html>